:root {
  --color-primary: #191d2b;
  --color-secondary: #27ae60;
  --color-white: #fff;
  --color-black: #000;
  --color-grey-1: #f8f8f8;
  --color-grey-2: #dbe1e8;
  --color-grey-3: #b2becd;
  --color-grey-4: #6c7983;
  --color-grey-5: #454e56;
  --color-grey-6: #2a2e35;
  --color-grey-6: #12181b;
  --transition: all 0.4s ease-in-out;
  --border-radius: 14px;
  --box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-primary);
  color: var(--color-white);
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  transition: var(--transition);
}

.light-mode {
  --color-primary: #fff;
  --color-secondary: #ecb725;
  --color-white: #454e56;
  --color-black: #000;
  --color-grey-1: #f8f8f8;
  --color-grey-2: #9ca4aa;
  --color-grey-3: #6c7983;
  --color-grey-4: #6c7983;
  --color-grey-5: #808991;
  --color-grey-6: #f8f8f8;
  --color-grey-6: #12181b;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

header {
  min-height: 100vh;
  color: var(--color-white);
  overflow: hidden;
}

section {
  min-height: 100vh;
  color: var(--color-white);
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 15rem;
}

.section {
  transform: translateY(-100%) scale(0);
  transition: var(--transition);
  background-color: var(--color-primary);
}

.sec1 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec2 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec3 {
  display: none;
  transform: translateY(0) scale(1);
}

.sec4 {
  display: none;
  transform: translateY(0) scale(1);
}

.active {
  display: block;
  -webkit-animation: scaleAnimation 1s ease-in-out;
          animation: scaleAnimation 1s ease-in-out;
}
@-webkit-keyframes scaleAnimation {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}
@keyframes scaleAnimation {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}

.controller {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.controller .active-btn {
  background-color: var(--color-secondary) !important;
  transition: var(--transition);
}
.controller .active-btn i {
  color: var(--color-white) !important;
}
.controller .control {
  padding: 1rem;
  cursor: pointer;
  background-color: var(--color-grey-4);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow);
  margin: 0.7rem 0;
}
.controller .control i {
  font-size: 1.2rem;
  cursor: var(--color-grey-2);
  pointer-events: none;
}

.header-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}
.header-container .left-header {
  display: flex;
  align-items: center;
  position: relative;
}
.header-container .left-header .h-shape {
  background-color: var(--color-secondary);
  width: 65%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
          clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
  transition: var(--transition);
}
.header-container .image {
  border-radius: var(--border-radius);
  height: 90%;
  width: 68%;
  margin-left: 4rem;
  transition: var(--transition);
}
.header-container .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: var(--transition);
  filter: grayscale(100%);
}
.header-container .image img:hover {
  filter: grayscale(0);
}
.header-container .right-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10rem;
}
.header-container .right-header .name {
  font-size: 3rem;
  font-weight: 500;
}
.header-container .right-header .name h1 {
  font-size: 3rem;
}
.header-container .right-header .name span {
  color: var(--color-secondary);
  font-weight: 500;
}
.header-container .right-header p {
  margin: 1.5rem 0;
  line-height: 2;
}

.about-heading {
  margin: 0 auto;
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 3.5rem;
  padding-bottom: 5rem;
}
.about-container .left-side {
  padding-right: 3rem;
}
.about-container .left-side h4 {
  font-size: 2rem;
  text-transform: uppercase;
}
.about-container .left-side p {
  line-height: 2;
  padding: 1rem 0;
  color: var(--color-grey-2);
}
.about-container .right-side {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.about-container .right-side-item {
  width: 15rem;
  height: 16rem;
  border: 1px solid var(--color-secondary);
  border-radius: var(--border-radius);
  position: relative;
  transition: var(--transition);
}
.about-container .right-side-item .large-text {
  position: absolute;
  top: 10%;
  left: 10%;
  color: var(--color-secondary);
  font-size: 3rem;
  font-weight: 700;
}
.about-container .right-side-item .small-text {
  position: absolute;
  top: 38%;
  left: 10%;
  color: var(--color-grey-3);
  font-size: 1.5rem;
}
.about-container .right-side-item:hover {
  transform: translateY(-10px) scale(1.05);
}

.about-status {
  padding-bottom: 3rem;
}
.about-status .progress-bars {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}
.about-status .progress-bars .progress-bar {
  display: flex;
  flex-direction: column;
}
.about-status .progress-bars .progress-bar .progress-title {
  text-transform: uppercase;
  font-weight: 500;
}
.about-status .progress-bars .progress-bar .progress-con {
  display: flex;
  align-items: center;
}
.about-status .progress-bars .progress-bar .progress-con .prog-test {
  color: var(--color-grey-2);
}
.about-status .progress-bars .progress-bar .progress-con .progress {
  width: 100%;
  height: 0.45rem;
  background-color: var(--color-grey-4);
  margin-left: 1rem;
  position: relative;
}
.about-status .progress-bars .progress-bar .progress-con .progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--color-secondary);
  transition: var(--transition);
  width: 60%;
}
.about-status .progress-bars .progress-bar .progress-con .progress .html {
  width: 70%;
}
.about-status .progress-bars .progress-bar .progress-con .progress .css {
  width: 30%;
}
.about-status .progress-bars .progress-bar .progress-con .progress .js {
  width: 30%;
}
.about-status .progress-bars .progress-bar .progress-con .progress .react {
  width: 0%;
}
.about-status .progress-bars .progress-bar .progress-con .progress .node {
  width: 2%;
}
.about-status .progress-bars .progress-bar .progress-con .progress .java {
  width: 15%;
}
.about-status .progress-bars .progress-bar .progress-con .progress .mongodb {
  width: 0%;
}
.about-status .progress-bars .progress-bar .progress-con .progress .express {
  width: 0%;
}

.status-title {
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
  padding: 2.5rem 0;
}

.timeline {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  padding-bottom: 3rem;
}
.timeline .timeline-item {
  padding-left: 3rem;
  border-left: 1px solid var(--color-grey-5);
  position: relative;
}
.timeline .timeline-item .timeline-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: var(--color-secondary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: -26px;
}
.timeline .timeline-item .timeline-icon i {
  font-size: 1.2rem;
}
.timeline .timeline-item .tl-dutation {
  padding: 0.2rem 0.6rem;
  background-color: var(--color-grey-5);
  border-radius: var(--border-radius);
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
}
.timeline .timeline-item h5 {
  padding: 1rem 0;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
}
.timeline .timeline-item h5 span {
  color: var(--color-grey-2);
  font-weight: 500;
  font-size: 1.1rem;
}
.timeline .timeline-item p {
  color: var(--color-grey-2);
}

.project-heading {
  text-align: center;
  padding-bottom: 1rem;
}

.project-text {
  text-align: center;
  padding-bottom: 2rem;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}
.project-container .project-item {
  border-radius: var(--border-radius);
  position: relative;
}
.project-container .project-item img {
  width: 100%;
  height: 18.75rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--border-radius);
}
.project-container .project-item .hover-item {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(54, 54, 54, 0.4);
  top: 0;
  left: 0;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0);
  transition: var(--transition);
}
.project-container .project-item .hover-item h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--color-white);
}
.project-container .project-item .hover-item .icons .icon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  cursor: pointer;
  transition: var(--transition);
}
.project-container .project-item .hover-item .icons .icon i {
  font-size: 1.5rem;
  color: var(--color-white);
  margin: 0 1rem;
}
.project-container .project-item .hover-item .icons .icon:hover {
  background-color: var(--color-white);
}
.project-container .project-item .hover-item .icons .icon:hover i {
  color: var(--color-primary);
}

.project-item:hover .hover-item {
  opacity: 1;
  transform: scale(1);
}

.contact-container {
  display: flex;
}
.contact-container .left-container {
  flex: 2;
  margin-right: 2rem;
}
.contact-container .left-container h4 {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1rem 0;
}
.contact-container .left-container p {
  margin-top: 1rem 0;
  line-height: 2;
}
.contact-container .left-container .contact-info {
  padding-top: 2rem;
}
.contact-container .left-container .contact-info .contact-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-container .left-container .contact-info .contact-item .icon {
  display: grid;
  grid-template-columns: 2.5rem;
}
.contact-container .left-container .contact-info .contact-item .icon i {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}
.contact-container .left-container .contact-info .contact-item p {
  margin: 0.3rem 0 !important;
  padding: 0 !important;
}
.contact-container .left-container .contact-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 2.4rem;
}
.contact-container .left-container .contact-icons a {
  height: 50px;
  width: 50px;
  color: var(--color-white);
  background-color: var(--color-grey-5);
  border-radius: 50%;
  margin: 0 0.7rem;
  transition: var(--transition);
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-container .left-container .contact-icons a i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}
.contact-container .left-container .contact-icons a:hover {
  background-color: var(--color-secondary);
}
.contact-container .left-container .contact-icons a:hover i {
  color: var(--color-primary);
}
.contact-container .right-container {
  flex: 3;
  margin-left: 3rem;
}
.contact-container .right-container .input-control {
  margin: 1.5rem 0;
}
.contact-container .right-container .input-control input,
.contact-container .right-container .input-control textarea {
  width: 100%;
  border-radius: 1.87rem;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 0.8rem 1.1rem;
  outline: none;
  border: none;
  background-color: var(--color-grey-5);
  color: var(--color-white);
  resize: none;
}
.contact-container .right-container .input-control-2 {
  display: flex;
}
.contact-container .right-container .input-control-2 :last-child {
  margin-left: 1.5rem;
}
.contact-container .right-container .btn-container {
  margin-top: 4.2rem;
}

.theme-btn {
  top: 5%;
  right: 3%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--color-grey-5);
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow);
  transition: var(--transition);
}
.theme-btn:active {
  transform: translateY(-3px);
}
.theme-btn i {
  font-size: 1.3rem;
  pointer-events: none;
  color: var(--color-grey-2);
}

.t-m {
  margin-top: 2rem;
}

.title {
  text-align: center;
}
.title h2 {
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 700;
}
.title h2 span {
  color: var(--color-secondary);
}

.btn-container {
  display: flex;
  align-self: flex-start;
}

.main-btn {
  border-radius: 30px;
  color: inherit;
  border: 1px solid var(--color-secondary);
  font-weight: 600;
  display: flex;
  align-self: flex-start;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.main-btn .btn-text {
  padding: 0 2rem;
}
.main-btn .btn-icon {
  background-color: var(--color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}
.main-btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: var(--transition);
  z-index: -1;
}
.main-btn:hover {
  transition: var(--transition);
}
.main-btn:hover::before {
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  transform: translate(0);
}

@media screen and (max-width: 600px) {
  header {
    overflow: scroll;
  }
  .section {
    padding: 0rem 0rem !important;
  }
  .header-container {
    grid-template-columns: 1fr;
    padding: 3rem 1rem;
  }
  .header-container .left-header {
    padding-bottom: 5.8rem;
  }
  .header-container .left-header .h-shape {
    display: none;
  }
  .header-container .left-header .image {
    margin: 0 auto;
    width: 90%;
  }
  .header-container .left-header .image img {
    filter: grayscale(0);
  }
  .header-container .right-header {
    grid-row: 1;
    width: 90%;
    margin: 0 auto;
    padding: 0 !important;
  }
  .header-container .right-header .name {
    font-size: 2.5rem !important;
    width: 90%;
  }
  .header-container .right-header .name h1 {
    font-size: 2.5rem;
  }
  .header-container .right-header p {
    font-size: 0.9rem !important;
    width: 90%;
  }
  .about-container {
    grid-template-columns: 1fr;
    padding: 2rem 2.5rem !important;
  }
  .about-container .left-side {
    text-align: center;
    padding-right: 0;
  }
  .about-container .left-side h4 {
    font-size: 1.4rem;
  }
  .about-container .left-side p {
    font-size: 0.9rem !important;
    padding-left: 0;
  }
  .about-container .right-side {
    grid-template-columns: 1fr;
    padding: 2.5rem 0;
  }
  .about-status {
    padding: 2rem 2.5rem;
  }
  .about-status .progress-bars {
    grid-template-columns: 1fr;
  }
  .about-status .progress-bars .progress-bar .progress-title {
    font-size: 0.9rem !important;
  }
  .about-status .progress-bars .progress-bar .prog-test {
    font-size: 0.9rem !important;
  }
  .status-title {
    font-size: 1.3rem;
  }
  .timeline {
    grid-template-columns: 1fr;
    padding: 2rem 2.5rem 6rem 2rem;
  }
  .timeline .timeline-item p {
    font-size: 0.9rem !important;
  }
  .project-text p {
    font-size: 0.9rem;
  }
  .project-container {
    grid-template-columns: 1fr;
    padding: 2rem 2.5rem 6rem 2rem;
  }
  .theme-btn {
    top: 5%;
    right: 6%;
  }
  .controller {
    top: auto;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: var(--color-grey-5);
  }
  .controller .control {
    margin: 1rem 0.7rem;
  }
  .contact-container {
    flex-direction: column;
    margin-top: -3rem;
  }
  .contact-container .left-container {
    padding: 2rem;
    margin-right: 0;
    text-align: center;
  }
  .contact-container .left-container h4 {
    font-size: 1.4rem;
  }
  .contact-container .left-container p {
    font-size: 0.9rem;
  }
  .contact-container .right-container {
    padding: 0 2rem 6rem 2rem;
    margin-left: 0;
  }
  .contact-container .right-container .input-control-2 {
    flex-direction: column;
  }
  .contact-container .right-container .input-control-2 input:first-child {
    margin-bottom: 1.5rem;
  }
  .contact-container .right-container .input-control-2 input:last-child {
    margin-left: 0;
  }
  .contact-container .right-container .btn-container {
    margin-top: 0;
  }
  .title h2 {
    font-size: 2rem;
    padding: 2rem 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    overflow: scroll;
  }
  .section:not(:first-child) {
    padding: 2rem 2rem;
  }
  .header-container .left-header {
    padding-bottom: 5.8rem;
  }
  .header-container .left-header .image img {
    filter: grayscale(0);
  }
  .header-container .right-header {
    padding-right: 4rem;
    margin-top: -5.6rem;
  }
  .header-container .right-header .name h1 {
    font-size: 2.5rem;
  }
  .header-container .right-header p {
    font-size: 1.1rem;
    line-height: 1.5;
  }
  .about-container {
    padding-bottom: 0;
  }
  .about-container .left-side {
    padding-right: 1rem;
  }
  .about-container .left-side h4 {
    font-size: 1.4rem;
  }
  .about-container .left-side p {
    font-size: 1rem;
    line-height: 1.5;
  }
  .about-container .right-side .right-side-item {
    width: 13rem;
    height: 8rem;
  }
  .about-container .right-side .right-side-item .large-text {
    font-size: 2rem;
  }
  .about-container .right-side .right-side-item .small-text {
    top: 53%;
    font-size: 1.1rem;
  }
  .about-status {
    padding-bottom: 0;
  }
  .timeline {
    padding-bottom: 5rem;
  }
  .project-heading {
    padding-bottom: 0;
  }
  .project-text p {
    font-size: 1rem;
  }
  .project-container {
    grid-template-columns: 1fr 1fr;
    padding-bottom: 6rem;
  }
  .contact-container {
    margin-top: 0rem;
    padding-bottom: 6rem;
  }
  .controller {
    top: auto;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: var(--color-grey-5);
  }
  .controller .control {
    margin: 1rem 0.7rem;
  }
  .title h2 {
    font-size: 2rem;
    padding: 2rem 0;
  }
}/*# sourceMappingURL=style.css.map */